.dot {
  height: 30px;
  width: 30px;
  padding: 4px 0px;
  margin-top: 3px;
  font-weight: bold;
  text-align: center;
  background-color: #ccc;
  border-radius: 50%;
  color: white;
  display: inline-block
}
