<div class="container">
  <div class="columns">
    <div class="column is-12">
        <app-polkascan-header></app-polkascan-header>
        <div>
            <section class="info-tiles">
              <div class="card events-card">
                  <header class="card-header">
                      <p class="card-header-title">
                          {{ 'Not-found.Page not found' | translate }}
                      </p>
                      <a  class="card-header-icon" aria-label="more options">
                     <span class="icon"><i class="fa fa-map-signs fa-2x"></i></span>
                    </a>
                  </header>
                  <div class="card-table">
                      <div class="content">
                          {{ 'Not-found.No page could be found for current URL' | translate }}
                      </div>
                  </div>
              </div>
            </section>
        </div>
    </div>
  </div>
</div>
