<div class="columns">
    <div class="column is-12">
        <app-polkascan-header></app-polkascan-header>
        <section>
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ 'runtime-list.Runtimes' | translate }}
                    </p>
                    <a [routerLink]="" fragment="list" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <app-loading-box *ngIf="!runtimes || runtimes.is_loading"></app-loading-box>
                        <table class="table is-fullwidth is-striped" *ngIf="runtimes && runtimes.data.length > 0">
                             <thead>
                              <tr>
                                <th></th>
                                <th>{{ 'runtime-list.Spec ID' | translate }}</th>
                                <th>{{ 'runtime-list.Name' | translate }}</th>
                                <th>{{ 'runtime-list.Spec version' | translate }}</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let runtime of runtimes.data; trackBy: runtimes.trackBy">
                                    <td width="5%"><i class="fa fa-cogs"></i></td>
                                    <td width="10%"><a routerLink="{{ networkURLPrefix }}/runtime/{{ runtime.attributes.id}}">{{ runtime.attributes.id}}</a></td>
                                    <td>{{ runtime.attributes.impl_name }}</td>
                                    <td>{{ runtime.attributes.spec_version }}</td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/runtime/{{ runtime.attributes.id }}">{{ 'runtime-list.Details' | translate }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
