<div class="columns">
    <div class="column is-12">
        <app-polkascan-header></app-polkascan-header>
        <section>
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ 'Log-list.Logs' | translate }}
                    </p>
                    <a [routerLink]="" fragment="list" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-book fa-2x" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <app-loading-box *ngIf="!logs || logs.is_loading"></app-loading-box>
                        <table class="table is-fullwidth is-striped" *ngIf="logs && logs.data.length > 0">
                             <thead>
                              <tr>
                                <th></th>
                                <th>{{ 'Log-list.Log ID' | translate }}</th>
                                <th class="is-hidden-mobile">{{ 'Log-list.Block' | translate }}</th>
                                <th>{{ 'Log-list.Type' | translate }}</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let log of logs.data; trackBy: logs.trackBy">
                                    <td width="5%">
                                      <i class="fa fa-book"></i>
                                    </td>
                                    <td><a routerLink="{{ networkURLPrefix }}/log/{{ log.id }}">{{ log.id }}</a></td>
                                    <td class="is-hidden-mobile"><a routerLink="{{ networkURLPrefix }}/block/{{ log.attributes.block_id }}">{{ log.attributes.block_id }}</a></td>
                                    <td>{{ log.attributes.type }}</td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/log/{{ log.id }}">{{ 'Log-list.Details' | translate }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="no-items" *ngIf="logs && logs.data.length == 0 && !logs.is_loading">{{ 'Log-list.No items' | translate }}</div>
                    </div>
                </div>
                <footer class="card-footer" *ngIf="logs && logs.data.length == 25">
                    <a routerLink="." [queryParams]="{ page: currentPage + 1}" class="card-footer-item">{{ 'Log-list.View next' | translate }}</a>
                </footer>
            </div>
        </section>
    </div>
</div>
