<div class="columns">
  <div class="column is-12">
      <app-polkascan-header></app-polkascan-header>

      <div *ngIf="runtimeEvent$ | async as runtimeEvent">
        <section class="info-tiles">
          <div class="card events-card">
              <header class="card-header">
                  <p class="card-header-title">
                      {{ 'runtime-event-detail.Event' | translate }} "{{ runtimeEvent.attributes.name }}"
                  </p>
                  <a  class="card-header-icon" aria-label="more options">
                 <span class="icon"><i class="fa fa-calendar-check fa-2x"></i></span>
                </a>
              </header>
              <div class="card-table" *ngIf="runtimeEvent">
                  <div class="content">
                      <table class="table is-fullwidth is-striped">
                          <tbody>
                              <tr>
                                  <td width="20%">{{ 'runtime-event-detail.Name' | translate }}</td>
                                  <td >{{ runtimeEvent.attributes.name }}</td>
                              </tr>
                              <tr>
                                  <td>{{ 'runtime-event-detail.Module' | translate }}</td>
                                  <td >{{ runtimeEvent.attributes.module_id }}</td>
                              </tr>
                              <tr>
                                  <td>{{ 'runtime-event-detail.Spec version' | translate }}</td>
                                  <td >{{ runtimeEvent.attributes.spec_version }}</td>
                              </tr>
                              <tr>
                                  <td>{{ 'runtime-event-detail.Lookup' | translate }}</td>
                                  <td >{{ runtimeEvent.attributes.lookup }}</td>
                              </tr>
                              <tr>
                                  <td>{{ 'runtime-event-detail.Documentation' | translate }}</td>
                                  <td>{{ runtimeEvent.attributes.documentation }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </section>
        <section *ngIf="runtimeEvent.relationships.attributes.data.length > 0" id="event-attributes">
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ 'runtime-event-detail.Attributes' | translate }}
                    </p>
                    <a [routerLink]="" fragment="event-attributes" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-stream fa-2x" aria-hidden="true"></i>
                      </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                             <thead>
                              <tr>
                                <th></th>
                                <th>{{ 'runtime-event-detail.Type' | translate }}</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attribute of runtimeEvent.relationships.attributes.data; trackBy: runtimeEvent.relationships.attributes.trackBy">
                                    <td width="5%">
                                      <i class="fa fa-stream"></i>
                                    </td>
                                    <td>{{ attribute.attributes.type }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section *ngIf="runtimeEvent.relationships.recent_events.data.length > 0">
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ 'runtime-event-detail.Recent' | translate }} "{{ runtimeEvent.attributes.name }}" {{ 'runtime-event-detail.events' | translate }}
                    </p>

                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                             <thead>
                              <tr>
                                <th></th>
                                <th>{{ 'runtime-event-detail.ID' | translate }}</th>
                                <th>{{ 'runtime-event-detail.Block' | translate }}</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let event of runtimeEvent.relationships.recent_events.data; trackBy: runtimeEvent.relationships.recent_events.trackBy">
                                    <td width="5%">
                                      <i class="fa fa-calendar-check"></i>
                                    </td>
                                    <td><a routerLink="{{ networkURLPrefix }}/event/{{ event.id}}">{{ event.id }}</a></td>
                                    <td><a routerLink="{{ networkURLPrefix }}/block/{{ event.attributes.block_id }}">{{ event.attributes.block_id }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
      </div>
  </div>
</div>
