<div class="identicon">
  <svg
      id="test"
      name="Test"
      className="identicon"
      style=""
      [attr.width]="size"
      [attr.height]="size"
      *ngIf="colors"
    >
      <circle [attr.cx]="s / 2" [attr.cy]="s / 2" [attr.r]="s / 2" fill="#eee"/>
      <circle [attr.cx]="c" [attr.cy]="c - r" [attr.r]="z" [attr.fill]="colors[0]"/>
      <circle [attr.cx]="c" [attr.cy]="c - ro2" [attr.r]="z" [attr.fill]="colors[1]"/>
      <circle [attr.cx]="c - rroot3o4" [attr.cy]="c - r3o4" [attr.r]="z" [attr.fill]="colors[2]"/>
      <circle [attr.cx]="c - rroot3o2" [attr.cy]="c - ro2" [attr.r]="z" [attr.fill]="colors[3]"/>
      <circle [attr.cx]="c - rroot3o4" [attr.cy]="c - ro4" [attr.r]="z" [attr.fill]="colors[4]"/>
      <circle [attr.cx]="c - rroot3o2" [attr.cy]="c" [attr.r]="z" [attr.fill]="colors[5]"/>
      <circle [attr.cx]="c - rroot3o2" [attr.cy]="c + ro2" [attr.r]="z" [attr.fill]="colors[6]"/>
      <circle [attr.cx]="c - rroot3o4" [attr.cy]="c + ro4" [attr.r]="z" [attr.fill]="colors[7]"/>
      <circle [attr.cx]="c - rroot3o4" [attr.cy]="c + r3o4" [attr.r]="z" [attr.fill]="colors[8]"/>
      <circle [attr.cx]="c" [attr.cy]="c + r" [attr.r]="z" [attr.fill]="colors[9]"/>
      <circle [attr.cx]="c" [attr.cy]="c + ro2" [attr.r]="z" [attr.fill]="colors[10]"/>
      <circle [attr.cx]="c + rroot3o4" [attr.cy]="c + r3o4" [attr.r]="z" [attr.fill]="colors[11]"/>
      <circle [attr.cx]="c + rroot3o2" [attr.cy]="c + ro2" [attr.r]="z" [attr.fill]="colors[12]"/>
      <circle [attr.cx]="c + rroot3o4" [attr.cy]="c + ro4" [attr.r]="z" [attr.fill]="colors[13]"/>
      <circle [attr.cx]="c + rroot3o2" [attr.cy]="c" [attr.r]="z" [attr.fill]="colors[14]"/>
      <circle [attr.cx]="c + rroot3o2" [attr.cy]="c - ro2" [attr.r]="z" [attr.fill]="colors[15]"/>
      <circle [attr.cx]="c + rroot3o4" [attr.cy]="c - ro4" [attr.r]="z" [attr.fill]="colors[16]"/>
      <circle [attr.cx]="c + rroot3o4" [attr.cy]="c - r3o4" [attr.r]="z" [attr.fill]="colors[17]"/>
      <circle [attr.cx]="c" [attr.cy]="c" [attr.r]="z" [attr.fill]="colors[18]"/>
  </svg>
</div>
