<table class="table is-striped is-bordered" *ngIf="referendum">
  <tbody>
    <tr>
      <td>Delay</td>
      <td>{{ referendum.delay }}</td>
    </tr>
    <tr>
      <td>End</td>
      <td><a routerLink="{{ networkURLPrefix }}/block/{{ referendum.end }}">{{ referendum.end }}</a></td>
    </tr>
    <tr>
      <td>Proposal</td>
      <td>
        <app-proposal
          [proposal]="referendum.proposal"
          [networkTokenDecimals]="networkTokenDecimals"
          [networkTokenSymbol]="networkTokenSymbol"
        ></app-proposal>
      </td>
    </tr>
  </tbody>
</table>
