<div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
     <section class="info-tiles" *ngIf="!balanceTransfers || balanceTransfers.data.length > 0">
       <div class="card" *ngIf="account">
            <header class="card-header">
                <p class="card-header-title">
                    {{ 'AddressDetail.Last 25 balance transfers sent by' | translate }} {{ account }}
                </p>
                  <a [routerLink]="" fragment="transfers" class="card-header-icon" aria-label="more options">
                      <span class="icon">
                        <i class="fa fa-exchange-alt fa-2x" aria-hidden="true"></i>
                      </span>
                    </a>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <thead>
                          <th></th>
                          <th class="is-hidden-mobile">{{ 'AddressDetail.Block' | translate }} #</th>
                          <th>{{ 'AddressDetail.Destination' | translate }}</th>
                          <th>{{ 'AddressDetail.Amount' | translate }}</th>
                          <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let balanceTransfer of balanceTransfers.data; trackBy: balanceTransfers.trackBy">
                              <td width="5%"><i class="fa fa-exchange-alt"></i></td>
                              <td class="is-hidden-mobile"><a [routerLink]="[networkURLPrefix, 'system', 'block', balanceTransfer.attributes.block_id]">{{ balanceTransfer.attributes.block_id }}</a></td>
                              <td class="is-hidden-tablet"><a [routerLink]="[networkURLPrefix, 'module', 'account', balanceTransfer.attributes.destination]">{{ balanceTransfer.attributes.destination| slice:0:16 }}...</a></td>
                              <td class="is-hidden-mobile"><a [routerLink]="[networkURLPrefix, 'module', 'account', balanceTransfer.attributes.destination]">{{ balanceTransfer.attributes.destination }}</a></td>
                              <td>{{ formatBalance(balanceTransfer.attributes.value) | number:'1.0-15' }} {{ networkTokenSymbol }}</td>
                              <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/extrinsic/{{ balanceTransfer.attributes.extrinsic_hash ? '0x' + balanceTransfer.attributes.extrinsic_hash : balanceTransfer.id }}">{{ 'AddressDetail.Details' | translate }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
     </section>
     <section>
            <div class="card ">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ 'AddressDetail.Last 25 transactions by' | translate }} {{ account }}
                    </p>

                </header>
                <div class="card-table">
                    <div class="content">
                        <app-loading-box *ngIf="!extrinsics || extrinsics.is_loading"></app-loading-box>
                        <table class="table is-fullwidth is-striped" *ngIf="extrinsics && extrinsics.data.length > 0">
                             <thead>
                              <tr>
                                <th></th>
                                <th>{{ 'AddressDetail.ID' | translate }}</th>
                                <th>{{ 'AddressDetail.Block number' | translate }}</th>
                                <th class="is-hidden-mobile">{{ 'AddressDetail.Module' | translate }}</th>
                                <th class="is-hidden-mobile">{{ 'AddressDetail.Call' | translate }}</th>
                                <th class="is-hidden-mobile">{{ 'AddressDetail.Signed' | translate }}</th>
                                <th>{{ 'AddressDetail.Success' | translate }}</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let extrinsic of extrinsics.data; trackBy: extrinsics.trackBy">
                                    <td width="5%">
                                      <i *ngIf="extrinsic.attributes.signed" class="fa fa-file-signature"></i>
                                      <i *ngIf="extrinsic.attributes.unsigned" class="fa fa-file-alt"></i>
                                    </td>
                                    <td>{{ extrinsic.id }}</td>
                                    <td><a routerLink="{{ networkURLPrefix }}/block/{{ extrinsic.attributes.block_id }}">{{ extrinsic.attributes.block_id }}</a></td>
                                    <td class="is-hidden-mobile">{{ extrinsic.attributes.module_id }}</td>
                                    <td class="is-hidden-mobile">{{ extrinsic.attributes.call_id }}</td>
                                    <td class="is-hidden-mobile"><span *ngIf="extrinsic.attributes.signed">{{ 'AddressDetail.Yes' | translate }}</span><span *ngIf="!extrinsic.attributes.signed">{{ 'AddressDetail.No' | translate }}</span></td>
                                    <td>
                                      <i *ngIf="extrinsic.attributes.success" class="fa fa-check" style="color: forestgreen"></i>
                                      <i *ngIf="extrinsic.attributes.error" class="fa fa-times" style="color: darkred"></i>
                                    </td>
                                    <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/extrinsic/{{ extrinsic.attributes.extrinsic_hash ? '0x' + extrinsic.attributes.extrinsic_hash : extrinsic.id }}">{{ 'AddressDetail.Details' | translate }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                      <div class="no-items" *ngIf="extrinsics && !extrinsics.is_loading && extrinsics.data.length == 0">{{ 'AddressDetail.No transactions found for this account' | translate }}</div>
                    </div>
                </div>
            </div>
        </section>
</div>
