<div class="columns">
    <div class="column is-12">
        <app-polkascan-header></app-polkascan-header>
        <section class="is-12" id="search">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <form (ngSubmit)="search()">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-large" type="text" [(ngModel)]="blockSearchText" [ngModelOptions]="{standalone: true}" [placeholder]="'PlaceHolderSearch' | translate">
                            <span class="icon is-medium is-left">
                              <i class="fa fa-search"></i>
                            </span>
                            <span class="icon is-medium is-right">
                              <i *ngIf="blockSearchText" class="fa fa-check"></i>
                            </span>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="info-tiles is-hidden-mobile">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent is-2-mobile">
                    <article class="tile is-child box">
                      <a routerLink="{{ networkURLPrefix }}/block/">
                        <div>
                        <span class="icon">
                            <i class="fa fa-cube fa-2x"></i>
                        </span>
                        <p class="title" *ngIf="networkstats$ | async as networkstats">{{ networkstats.attributes.best_block| number: '1.'}}</p>
                        <p class="subtitle">{{ 'DashBoard.Finalized Block' | translate }}</p>
                          </div>
                      </a>
                    </article>
                </div>
                <div class="tile is-parent is-2-mobile">
                    <article class="tile is-child box">
                      <a routerLink="{{ networkURLPrefix }}/extrinsic">
                        <div>
                          <span class="icon">
                              <i class="fa fa-file-signature fa-2x"></i>
                          </span>
                          <p *ngIf="networkstats$ | async as networkstats" class="title">{{ networkstats.attributes.total_signed_extrinsics | number: '1.'}}</p>
                          <p class="subtitle">{{ 'DashBoard.Transactions' | translate }}</p>
                        </div>
                      </a>
                    </article>
                </div>
                <div class="tile is-parent is-2-mobile">
                    <article class="tile is-child box">
                      <a routerLink="{{ networkURLPrefix }}/event">
                        <div>
                          <span class="icon">
                              <i class="fa fa-calendar-check fa-2x"></i>
                          </span>
                          <p class="title" *ngIf="networkstats$ | async as networkstats">{{ networkstats.attributes.total_events_module | number: '1.'}}</p>
                          <p class="subtitle">{{ 'DashBoard.Module Events' | translate }}</p>
                        </div>
                      </a>
                    </article>
                </div>
                <div class="tile is-parent is-2-mobile">
                    <article class="tile is-child box">
                      <a routerLink="{{ networkURLPrefix }}/account">
                        <div>
                          <span class="icon">
                              <i class="fa fa-id-card fa-2x"></i>
                          </span>
                          <p *ngIf="networkstats$ | async as networkstats" class="title">{{ networkstats.attributes.total_accounts }}</p>
                          <p class="subtitle">{{ 'DashBoard.Active Accounts' | translate }}</p>
                        </div>
                      </a>
                    </article>
                </div>
                <div class="tile is-parent is-2-mobile">
                    <article class="tile is-child box">
                      <a routerLink="{{ networkURLPrefix }}/runtime">
                        <div>
                          <span class="icon">
                              <i class="fa fa-cogs fa-2x"></i>
                          </span>
                          <p *ngIf="networkstats$ | async as networkstats" class="title">{{ networkstats.attributes.total_runtimes }}</p>
                          <p class="subtitle">{{ 'DashBoard.Runtime Versions' | translate }}</p>
                        </div>
                      </a>
                    </article>
                </div>
            </div>
        </section>

        <section class="columns">
            <div class="column is-6 last-blocks" id="last-blocks">
                <div class="card dashboard-card">
                  <a routerLink="{{ networkURLPrefix }}/block">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ 'DashBoard.Last blocks' | translate }}
                        </p>
                        <a [routerLink]="" fragment="last-blocks" class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fa fa-cube" aria-hidden="true"></i>
                          </span>
                        </a>
                    </header>
                  </a>
                    <div class="card-table">
                        <div class="content">
                            <table class="table is-fullwidth is-striped">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>{{ 'DashBoard.Number' | translate }}</th>
                                    <th class="is-hidden-mobile">{{ 'DashBoard.Age' | translate }}</th>
                                    <th>{{ 'DashBoard.Transactions' | translate }}</th>
                                    <th>{{ 'DashBoard.Module Events' | translate }}</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody *ngIf="blocks">
                                    <tr *ngFor="let block of blocks.data; trackBy: blocks.trackBy">
                                        <td width="5%"><i class="fa fa-cube"></i></td>
                                        <td width="10%"><a routerLink="{{ networkURLPrefix }}/block/{{ block.id }}">{{ block.id }}</a></td>
                                        <td class="is-hidden-mobile"><span *ngIf="block.attributes.datetime" rel="tooltip" title="{{ block.attributes.datetime | date:'medium'}}">{{ block.attributes.datetime | timeago }}</span></td>
                                        <td>{{ block.attributes.count_extrinsics_signed }}</td>
                                        <td>{{ block.attributes.count_events_module }}</td>
                                        <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/block/{{ block.id }}">{{ 'DashBoard.Details' | translate }}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6 last-transfers" id="last-transfers">
              <div class="card dashboard-card">
                  <a routerLink="{{ networkURLPrefix }}/balances/transfer">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{ 'DashBoard.Last balance transfers' | translate }}
                        </p>
                        <a [routerLink]="" fragment="last-transfers" class="card-header-icon" aria-label="more options">
                          <span class="icon">
                            <i class="fa fa-exchange-alt" aria-hidden="true"></i>
                          </span>
                        </a>
                    </header>
                  </a>
                    <div class="card-table">
                        <div class="content">
                            <table class="table is-fullwidth is-striped">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th class="is-hidden-mobile">{{ 'DashBoard.Sender' | translate }}</th>
                                    <th>{{ 'DashBoard.Destination' | translate }}</th>
                                    <th>{{ 'DashBoard.Amount' | translate }}</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody *ngIf="balanceTransfers">
                                    <tr *ngFor="let balanceTransfer of balanceTransfers.data; trackBy: balanceTransfers.trackBy">
                                        <td width="5%"><i class="fa fa-exchange-alt"></i></td>
                                        <td class="is-hidden-mobile"><a routerLink="{{ networkURLPrefix }}/account/{{ balanceTransfer.attributes.sender.attributes.address }}" class="address-overview-format"><app-address [account]="balanceTransfer.attributes.sender"></app-address></a></td>
                                        <td><a routerLink="{{ networkURLPrefix }}/account/{{ balanceTransfer.attributes.destination.attributes.address }}" class="address-overview-format"><app-address [account]="balanceTransfer.attributes.destination"></app-address></a></td>
                                        <td>{{ formatBalance(balanceTransfer.attributes.value) | number:'1.0-15' }} {{ networkTokenSymbol }}</td>
                                        <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/balances/transfer/{{ balanceTransfer.id }}">{{ 'DashBoard.Details' | translate }}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
              <div class="tile is-parent" *ngIf="totalTransactionsDaychart$ | async as chart">
                  <article class="tile is-child box">
                    <app-loading-box *ngIf="chart.is_loading"></app-loading-box>
                    <app-chart *ngIf="!chart.is_loading"
                           [chartData]="chart"
                           [title]="'Analytics-Charts.Total transactions by day' | translate"
                           height="200px"
                           [themeColor] = 'networkColor'
                           xAxisType="datetime"
                    >
                    </app-chart>
                  </article>
              </div>
              <div class="tile is-parent is-hidden-mobile" *ngIf="averageBlocktimeDaychart$ | async as chart">
                  <article class="tile is-child box">
                    <app-loading-box *ngIf="chart.is_loading"></app-loading-box>
                    <app-chart *ngIf="!chart.is_loading"
                      [chartData]="chart"
                       [analyticsChart]="averageBlocktimeDaychart$"
                       [title]="'Analytics-Charts.Average blocktime by day' | translate"
                       height="200px"
                       [themeColor] = 'networkColor'
                       xAxisType="datetime"
                    >
                    </app-chart>
                  </article>
              </div>
              <div class="tile is-parent is-hidden-touch is-hidden-desktop-only" *ngIf="cumulativeAccountsDayChart$ | async as chart">
                  <article class="tile is-child box">
                    <app-loading-box *ngIf="chart.is_loading"></app-loading-box>
                    <app-chart *ngIf="!chart.is_loading"
                           [chartData]="chart"
                           title="Active accounts by day"
                           [title]="'Analytics-Charts.New accounts by day' | translate"
                           height="200px"
                           [themeColor] = 'networkColor'
                           xAxisType="datetime"
                    >
                    </app-chart>
                  </article>
              </div>
          </div>
      </section>
    </div>
</div>
