.last-blocks {
    padding-left: 0;
  }

  .last-transfers {
    padding-right: 0;
  }

@media screen and (max-width: 1088px) {

  .last-blocks {
    padding-right: 0;
  }

  .last-transfers {
    padding-left: 0;
  }

}

.dashboard-card .card-table {
  max-height: 261px;
  overflow-y: scroll;
}

.info-tiles a {
  color: #4a4a4a;
}
