<div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
    <div *ngIf="proposal$ | async as proposal">
        <section class="info-tiles">
          <div class="card events-card">
              <header class="card-header">
                  <p class="card-header-title">
                      {{ 'Democracy-proposal-detail.Democracy Proposal' | translate }} #{{ proposal.attributes.id }}
                  </p>
                  <a  class="card-header-icon" aria-label="more options">
                 <span class="icon"><i class="fa fa-poll fa-2x"></i></span>
                </a>
              </header>
              <div class="card-table" *ngIf="proposal">
                  <div class="content">
                      <table class="table is-fullwidth is-striped">
                          <tbody>
                              <tr>
                                <td width="20%">{{ 'Democracy-proposal-detail.Created at block' | translate }}</td>
                                <td><a routerLink="{{ networkURLPrefix }}/block/{{ proposal.attributes.created_at_block }}">{{ proposal.attributes.created_at_block }}</a></td>
                              </tr>
                              <tr>
                                <td width="20%">{{ 'Democracy-proposal-detail.Updated at block' | translate }}</td>
                                <td><a routerLink="{{ networkURLPrefix }}/block/{{ proposal.attributes.updated_at_block }}">{{ proposal.attributes.updated_at_block }}</a></td>
                              </tr>
                              <ng-container *ngIf="proposal.attributes.proposal">
                              <tr>
                                <td width="20%">{{ 'Democracy-proposal-detail.Module' | translate }}</td>
                                <td>
                                  {{ proposal.attributes.proposal?.call_module }}
                                </td>
                              </tr>
                              <tr>
                                <td width="20%">{{ 'Democracy-proposal-detail.Call' | translate }}</td>
                                <td>
                                  {{ proposal.attributes.proposal?.call_function }}
                                </td>
                              </tr>
                              <tr>
                                <td width="20%">{{ 'Democracy-proposal-detail.Parameters' | translate }}</td>
                                <td>
                                  <app-struct
                                    [struct]="proposal.attributes.proposal?.call_args"
                                    [networkTokenDecimals]="networkTokenDecimals"
                                    [networkTokenSymbol]="networkTokenSymbol"
                                    [networkURLPrefix]="networkURLPrefix"
                                  ></app-struct>
                                </td>
                              </tr>
                              </ng-container>
                              <tr *ngIf="proposal.attributes.proposal_hash">
                                <td>{{ 'Democracy-proposal-detail.Proposal preimage' | translate }}</td>
                                <td><a routerLink="{{ networkURLPrefix }}/democracy/preimage/0x{{ proposal.attributes.proposal_hash }}">0x{{ proposal.attributes.proposal_hash }}</a></td>
                              </tr>
                              <tr>
                                <td width="20%">{{ 'Democracy-proposal-detail.Bond' | translate }}</td>
                                <td>
                                  {{ formatBalance(proposal.attributes.bond) | number:'1.0-15'}} {{ networkTokenSymbol }}
                                </td>
                              </tr>
                              <tr>
                                <td width="20%">{{ 'Democracy-proposal-detail.Status' | translate }}</td>
                                <td>
                                  {{ proposal.attributes.status }}
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </section>
    </div>
</div>
