html, body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  height: 100%;
  background: #ECF0F3;
}
nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}
.navbar-item.brand-text {
  font-weight: 300;
}
.navbar-item, .navbar-link {
  font-size: 14px;
  font-weight: 700;
}
.columns {
  width: 100%;
  margin-left: 0;
}
.menu-label {
  color: #8F99A3;
  letter-spacing: 1.3;
  font-weight: 700;
}
.menu-list a {
  color: #0F1D38;
  font-size: 14px;
  font-weight: 700;
}
.menu-list a:hover {
  background-color: transparent;
  color: #276cda;
}
.menu-list a.is-active {
  background-color: transparent;
  color: #276cda;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.card-header {
  border-bottom: 1px solid #dbdbdb;
}
.card-header-title {
  color: #4a4f55;
  font-weight: 400;
  font-size: 1.2em;
  font-weight: 600;
}
.info-tiles {
  margin: 1rem 0.75rem;
}

.info-tiles .subtitle {
  font-weight: 300;
  color: #8F99A3;
}
.hero.welcome.is-info {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}
.card .content {
  font-size: 14px;
}
.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: #8F99A3;
}
.card-footer-item:hover {
}
.card-table .table {
  margin-bottom: 0;
}
.dashboard-card .card-table {
  max-height: 250px;
  overflow-y: scroll;
}

.card-table {
  overflow-x: scroll;
}

.network-westend {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #da68a7, #ba4887);
  }

  .button.is-primary {
    background-color: #da68a7;
  }

  .button.is-primary:hover {
    background-color: #ba4887;
  }

  .card-header-icon {
    color: #da68a7;
  }
  .navbar {
    background: #da68a7;
  }

  .tabs li.is-active a {
    color: #da68a7;
    border-bottom-color: #da68a7;
  }

  a {
    color: #da68a7;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-rococo {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #3498db, #3498db);
  }

  .button.is-primary {
    background-color: #3498db;
  }

  .button.is-primary:hover {
    background-color: #3498db;
  }

  .card-header-icon {
    color: #3498db;
  }
  .navbar {
    background: #21325B;
  }

  .tabs li.is-active a {
    color: #3498db;
    border-bottom-color: #3498db;
  }

  a {
    color: #3498db;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
  .navbar-dropdown a:hover{
    color: #3498db!important;
  }
}

.network-encointer {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #3b64b0, #3b64b0);
  }

  .button.is-primary {
    background-color: #3b64b0;
  }

  .button.is-primary:hover {
    background-color: #3b64b0;
  }

  .card-header-icon {
    color: #3b64b0;
  }
  .navbar {
    background: #3b64b0;
  }

  .tabs li.is-active a {
    color: #3b64b0;
    border-bottom-color: #3b64b0;
  }

  a {
    color: #3b64b0;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-datahighway {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #6c33de, #6c33de);
  }

  .button.is-primary {
    background-color: #6c33de;
  }

  .button.is-primary:hover {
    background-color: #6c33de;
  }

  .card-header-icon {
    color: #6c33de;
  }
  .navbar {
    background: #6c33de;
  }

  .tabs li.is-active a {
    color: #6c33de;
    border-bottom-color: #6c33de;
  }

  a {
    color: #6c33de;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-edgeware-testnet {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #0ac5ff, #0a95df);
  }

  .button.is-primary {
    background-color: #0ac5ff;
  }

  .button.is-primary:hover {
    background-color: #0a95df;
  }

  .card-header-icon {
    color: #0ac5ff;
  }
  .navbar {
    background: #0ac5ff;
  }

  .tabs li.is-active a {
    color: #0a95df;
    border-bottom-color: #0a95df;
  }

  a {
    color: #0a95df;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-edgeware {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #0a95df, #0a95df);
  }

  .button.is-primary {
    background-color: #0a95df;
  }

  .button.is-primary:hover {
    background-color: #0ac5ff;
  }

  .card-header-icon {
    color: #0a95df;
  }
  .navbar {
    background: #0a95df;
  }

  .tabs li.is-active a {
    color: #0a95df;
    border-bottom-color: #0a95df;
  }

  a {
    color: #0a95df;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-straightedge {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #8b0000, #8b0000);
  }

  .button.is-primary {
    background-color: #8b0000;
  }

  .button.is-primary:hover {
    background-color: #9b1010;
  }

  .card-header-icon {
    color: #8b0000;
  }
  .navbar {
    background: #8b0000;
  }

  .tabs li.is-active a {
    color: #8b0000;
    border-bottom-color: #8b0000;
  }

  a {
    color: #8b0000;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-darwinia {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #9f2fad, #9f2fad);
  }

  .button.is-primary {
    background-color: #9f2fad;
  }

  .button.is-primary:hover {
    background-color: #7f2f8d;
  }

  .card-header-icon {
    color: #9f2fad;
  }
  .navbar {
    background: #9f2fad;
  }

  .tabs li.is-active a {
    color: #9f2fad;
    border-bottom-color: #9f2fad;
  }

  a {
    color: #9f2fad;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-robonomics {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #f15a24, #d13a04);
  }

  .button.is-primary {
    background-color: #f15a24;
  }

  .button.is-primary:hover {
    background-color: #d13a04;
  }

  .card-header-icon {
    color: #f15a24;
  }
  .navbar {
    background: #f15a24;
  }

  .tabs li.is-active a {
    color: #f15a24;
    border-bottom-color: #f15a24;
  }

  a {
    color: #f15a24;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-kusama {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #3498db, #3498db);
  }

  .button.is-primary {
    background-color: #3498db;
  }

  .button.is-primary:hover {
    background-color: #3498db;
  }

  .card-header-icon {
    color: #3498db;
  }
  .navbar {
    background: #21325B;
  }

  .tabs li.is-active a {
    color: #3498db;
    border-bottom-color: #3498db;
  }

  a {
    color: #3498db;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
  .navbar-dropdown a:hover{
    color: #3498db!important;
  }
}

.network-polkadot {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #3498db, #3498db);
  }

  .button.is-primary {
    background-color: #3498db;
  }

  .button.is-primary:hover {
    background-color: #3498db;
  }

  .card-header-icon {
    color: #3498db;
  }
  .navbar {
    background: #21325B;
  }

  .tabs li.is-active a {
    color: #3498db;
    border-bottom-color: #3498db;
  }

  a {
    color: #3498db;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
  .navbar-dropdown a:hover{
    color: #3498db!important;
  }
}

.network-kulupu {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #003366, #003366);
  }

  .button.is-primary {
    background-color: #003366;
  }

  .button.is-primary:hover {
    background-color: #003366;
  }

  .card-header-icon {
    color: #003366;
  }
  .navbar {
    background: #003366;
  }

  .tabs li.is-active a {
    color: #003366;
    border-bottom-color: #003366;
  }

  a {
    color: #003366;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-miniplasm {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #185eb4, #185eb4);
  }

  .button.is-primary {
    background-color: #185eb4;
  }

  .button.is-primary:hover {
    background-color: #185eb4;
  }

  .card-header-icon {
    color: #185eb4;
  }
  .navbar {
    background: #185eb4;
  }

  .tabs li.is-active a {
    color: #185eb4;
    border-bottom-color: #185eb4;
  }

  a {
    color: #185eb4;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-acala {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #fd9080, #fd9080);
  }

  .button.is-primary {
    background-color: #fd9080;
  }

  .button.is-primary:hover {
    background-color: #fd9080;
  }

  .card-header-icon {
    color: #fd9080;
  }
  .navbar {
    background: #fd9080;
  }

  .tabs li.is-active a {
    color: #fd9080;
    border-bottom-color: #fd9080;
  }

  a {
    color: #fd9080;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-nodle {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #02ba88, #02ba88);
  }

  .button.is-primary {
    background-color: #02ba88;
  }

  .button.is-primary:hover {
    background-color: #02ba88;
  }

  .card-header-icon {
    color: #02ba88;
  }
  .navbar {
    background: #02ba88;
  }

  .tabs li.is-active a {
    color: #02ba88;
    border-bottom-color: #02ba88;
  }

  a {
    color: #02ba88;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-centrifuge {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #fcc367, #fcc367);
  }

  .button.is-primary {
    background-color: #fcc367;
  }

  .button.is-primary:hover {
    background-color: #fcc367;
  }

  .card-header-icon {
    color: #fcc367;
  }
  .navbar {
    background: #fcc367;
  }

  .tabs li.is-active a {
    color: #fcc367;
    border-bottom-color: #fcc367;
  }

  a {
    color: #fcc367;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.network-joystream {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #00daaf, #00ba8f);
  }

  .button.is-primary {
    background-color: #00daaf;
  }

  .button.is-primary:hover {
    background-color: #00ba8f;
  }

  .card-header-icon {
    color: #00daaf;
  }
  .navbar {
    background: #00daaf;
  }

  .tabs li.is-active a {
    color: #00daaf;
    border-bottom-color: #00daaf;
  }

  a {
    color: #00ba8f;
  }

  .navbar-item a, a.navbar-item {
    color: #4a4a4a;
  }
}

.navbar-item a, a.navbar-item {
  color: #4a4a4a;
}

.hero.welcome.is-info {
  background: linear-gradient(to right, #999, #777);
}

.button.is-primary {
  background-color: #3498db;
  color: #fff!important;
}

.button.is-primary:hover {
  background-color: #3498db;
}

.card-header-icon {
  color: #3498db;
}

nav.navbar {
  background: #21325B;
  border-top: 0px;
}

.tabs li.is-active a {
  color: #3498db;
  border-bottom-color: #3498db;
}

.tabs a {
  color: #3498db;
}

.navbar.is-black {
  background: #3498db!important;
}

nav.navbar.networks {
  background: #fff!important;
  margin-bottom: 0;
}

.no-items {
  padding: 10px;
}


.address-format {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;

  .name, .index {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.address-overview-format {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;

  .name, .index {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
  }
}
.navbar-dropdown a:hover{
  color: #3498db!important;
}
.input {
  font-family: inherit;
}
.icon {
  color: #3498db!important;
}
.self_navbar {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgb(108, 117, 126);
  cursor: pointer;
  align-items: center;
  display: flex;
  padding: .5rem .75rem;
  position: relative;
}
#navMenu-networks a {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgb(108, 117, 126);
}
#navMenu-networks a:hover{
  background-color:white;
  color:#3498db;
}
.navbar-brand a:hover{
  background-color:white!important;
}
.navbar.is-black .navbar-item.has-dropdown:hover .navbar-link
{
  background-color:#fff;color:#fff
}

#navMenu_top a{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgb(108, 117, 126);
}
.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 4.25rem;
  width: 100%;
}
#search_box_content {
  min-height:20rem;
  width: 100%;
  background-color: #21325b !important;
  background-image: url(/assets/abstract-shapes-20.svg?v=1)!important;
  z-index: 1;
  position:relative;
}
#search {
  padding-top: 4.25rem !important;
  width:100%;
}
#search_section {
  width: 98%;
  position:absolute;
  margin-top:16rem;
}
#search .card {
  width: 55%;
}
#search input {
  padding:1.5rem;
  font-size:1rem;
}
#search button {
  height: 3.15rem;
  width: 3.4rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#search input::placeholder {
  font-weight: 400;
  color: rgb(108, 117, 126);
  opacity: 1; /* Firefox */
}
#analytics_dashboard .column {
  padding: 0px;
}

#dashboard_main_section {
  z-index:3;
  margin-top:10rem;
}
#fromtoTransaction {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
}
.chart_responsive article {
  width: 100%;
}
@media screen and (max-width: 770px) {
  #dashboard_main_section {
    margin-top:40rem;
  }
  #fromtoTransaction {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80px;
  }
  .right_sub a{
    margin-left: 1px;
  }
}
// @media (max-width:500x){
//   #dashboard_main_section {
//     display: none;
//   }
// }
@media (min-width:1024px){
  .columns {
    max-width: 960px;
    margin:0 auto;
  }
  app-block-detail,app-balances-transfer-detail {
    max-width: 960px;
    display: block;
    margin:0 auto;
  }
  #fromtoTransaction {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
  }
}
@media (min-width:1216px){
  .columns {
    max-width: 1152px;
    margin:0 auto;
  }
  app-block-detail,app-balances-transfer-detail{
    max-width: 1152px;
    display: block;
    margin:0 auto;
  }
}
@media (min-width:1408px){
  .columns {
    max-width: 1344px;
    margin:0 auto;
  }
  app-block-detail,app-balances-transfer-detail {
    max-width: 1344px;
    display: block;
    margin:0 auto;
  }
}

.tile.is-parent {
  padding: 0;
}
.box {
  border-radius: 0px;
}
.inline {
  display: flex;
  padding-left: 20px;
}
.vertical_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leftmargin15 {
  margin-left:15px;
}
.subtitle {
  font-size: 1rem;
}
.title {
  text-align: left;
  font-size: 1rem;
}
.content table td, .content table th {
  vertical-align: middle;
}

.block_table {
  padding: 0.75rem;
  background-color: rgba(119,131,143,.1);
  border-radius: 6px;
  text-align:center;
}
.transaction_table {
  padding: 0.75rem;
  background-color: rgba(119,131,143,.1);
  border-radius: 50% !important;
  text-align:center;
}
app-dashboard .columns {
  max-width: 100%;
}
#last-blocks .card-table {
  overflow-x: scroll;
  overflow-y: hidden;
}
#last-blocks .card-table:hover {
  overflow-y: scroll;
  scrollbar-width: thin;
}
#last-blocks .card-table .content {
  padding-right: 5px;
}
#last-blocks .card-table:hover .content {
  padding-right: 0px;
}

#last-transfers .card-table {
  overflow-x: scroll;
  overflow-y: hidden;
}
#last-transfers .card-table:hover {
  overflow-y: visible;
  scrollbar-width: thin;
}

#last-transfers .card-table .content {
  padding-right: 5px;
}
#last-transfers .card-table:hover .content {
  padding-right: 0px;
}
app-dashboard .box {
  padding: 2.3rem 1.25rem;
}
app-dashboard app-chart > div {
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
.card-table {
  max-height: 284px !important;
}
.card-table::-webkit-scrollbar {
  width: 5px!important;
  height: 5px!important;
}

/* Track */
.card-table::-webkit-scrollbar-track {
  border: 4px solid transparent!important;
  background-clip: content-box!important;   /* THIS IS IMPORTANT */
}

/* Handle */
.card-table::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170)!important;
  height:50%;
}
.vertical_center .icon {
  font-size: 2rem;
}
.vertical_center .icon i {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  width:100%;
  min-height: 20rem;
  margin-top:50px;
  background-color: #21325b !important;
  background-image: url(/assets/abstract-shapes-20.svg?v=1) !important;
  z-index: 1;
  position: absolute;
  color: white;
  padding-bottom: 2rem;
}
.footer h2{
  font-size: 1.15rem;
}
.footer .title {
  color: white;
  padding: 10px 0px;
  border-bottom: 1px solid #8F99A3;
  margin-bottom: 0.5rem;
}
#footer-network a, #footer-chain a, #footer-runtime a{
  color: #8F99A3;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
  display: block;
  padding-left: 0px;
}
#footer-network a:hover, #footer-chain a:hover, #footer-runtime a:hover{
  background-color: transparent;
  color:white;
}
#footer-network i {
  color: #8F99A3!important;
}
#footer-network i:hover {
  color: white;
}
#world-map {
  background: url(/assets/world-map-white.webp) no-repeat 0 30%;
  padding-bottom: 100px;
}
.main_footer {
  padding-bottom: 10px;
  border-bottom: 1px solid #8F99A3;
}
.sub_footer {
  padding-top: 20px;
  display: flex;
}
.left_sub {
  justify-content: flex-start;
}
.right_sub {
  justify-content: flex-end;
  margin-left: auto;
  text-align:right;
}
.right_sub a{
  padding: 10px 10px;
  margin-left: 15px;
  color: white;
  background: rgba(248,249,250,.1);
  border-radius: 50% !important;
}
.right_sub a:hover {
  background: white;
  color: black;
}
@media screen and (max-width: 770px) {
  .right_sub a{
    margin-left: 1px;
  }
  #search .card {
    width: 100%;
  }
}

#navMenu-networks {
  position: relative;
}
#navbar_drop_button {
  width: auto;
}
@media screen and (max-width: 1000px) {
  #navMenu-networks {
    position: absolute;
    right:0px;
    top: 4rem;
    width:100%;
  }
  #navbar_drop_button {
    width: 100%;
  }
}

#footer-network, #footer-chain, #footer-runtime {
  padding-right:20px;
  padding-left: 40px;
}
.hash-format {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 132px;
  display: inline-block;
  vertical-align: bottom;
}
@media screen and (max-width: 1225px) {
  .address-mobile-format {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 198px;
    display: inline-block;
    vertical-align: bottom;
  }

  .mobile-hash-format {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 132px;
    display: inline-block;
    vertical-align: bottom;
  }
}
.mainbodyclass {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  #search_section {
    width: 97%;
    margin-top: 17rem;
  }
}
@media screen and (max-width: 500px) {
  #search_section {
    width: 96%;
    margin-top: 17rem;
  }
}
@media screen and (max-width: 400px) {
  #search_section {
    width: 94%;
    margin-top: 17rem;
  }
}
@media screen and (max-width: 300px) {
  #search_section {
    width: 93%;
    margin-top: 17rem;
  }
  .footer {
    width: 107%;
  }
}

@media screen and (max-width: 350px) {
  .sub_footer {
    display: block;
  }
  .right_sub {
    margin-top: 20px;
    text-align: left;
  } 
}

.message .message-body {
  font-size: 14px;

  p {
    margin: 5px 0px;
  }
}

.navbar-burger .makeblack {
  color: black!important;
}
.card .card-header {
  overflow-x:auto;
}
// FIXME Temporary Edge menu fix
@import '~node_modules/bulma/sass/utilities/mixins';

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}
