<div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
    <div *ngIf="contract$ | async as contract">
        <section class="info-tiles">
          <div class="card events-card">
              <header class="card-header">
                  <p class="card-header-title">
                      {{ 'Contract-Detail.Contract' | translate }} "{{ contract.id }}"
                  </p>
                  <a  class="card-header-icon" aria-label="more options">
                 <span class="icon"><i class="fa fa-file-contract fa-2x"></i></span>
                </a>
              </header>
              <div class="card-table" *ngIf="contract">
                  <div class="content">
                      <table class="table is-fullwidth is-striped">
                          <tbody>
                              <tr>
                                <td width="20%">{{ 'Contract-Detail.Created at block' | translate }}</td>
                                <td><a routerLink="{{ networkURLPrefix }}/block/{{ contract.attributes.created_at_block }}">{{ contract.attributes.created_at_block }}</a></td>
                              </tr>
                              <tr>
                                <td width="20%">{{ 'Contract-Detail.Verified source' | translate }}</td>
                                <td>
                                  <pre *ngIf="contract.attributes.source">{{ contract.attributes.source }}</pre>
                                  <i *ngIf="!contract.attributes.source" class="fa fa-times" style="color: darkred"></i>
                                </td>
                              </tr>
                              <tr>
                                <td width="20%">WASM binary</td>
                                <td>
                                  <pre>{{ contract.attributes.bytecode }}</pre>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </section>
    </div>
</div>
